body {
  background: linear-gradient(
    to left,
    rgba(0, 128, 0, 0.6),
    rgba(144, 238, 144, 0.6)
  );
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}
h1 {
  font-size: 30px;
  color: white;
}
.navHome {
  color: white;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 10px 0;
}
.nav input {
  padding: 8px 12px;
  width: 250px;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: 16px;
}
.bgnav {
  background-color: green;
  padding: 15px;
}
.menu li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}
input {
  padding: 10px;
  border-radius: 15px;
  width: 400px;
  /* border-color: white; */
  border: 1px solid black;
}
.menu {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.menu a {
  color: white;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}
.menu li a:hover {
  text-decoration: underline;
  font-size: 20px;
}
.imgbg {
  height: 60vh;
  width: 100%;
}
.productTitle {
  color: black;
  text-align: center;
}
.productdisplay {
  display: flex;
  justify-content: center;
}
.subproductdisplay {
  gap: 10px;
  display: flex;
  justify-content: center;
}
.products {
  width: 300px;
  height: 450px;
  border: 1px black solid;
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  margin: 20px;

}
.img {
  height: 200px;
  border-bottom: 1px solid red;
  width: 100%;
}
button {
  padding: 10px;
  width: 100%;
  background-color: rgba(29, 122, 29, 0.466);
  border: solid black;
  border-radius: 20px;
  cursor: pointer;
  /* margin: 10px; */
}
.img:hover {
  height: 210px;
}
.productText {
  font-size: 15px;
  padding: 15px;
}
.productButton {
  padding: 20px;
  border-bottom: 10px;
}
.loginBody {
  border: 1px solid black;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 800px;
  margin: auto;
  margin-top: 5px;
  background-color: white;
}
.loginh1 {
  margin-top: 0px;
  text-align: center;
  color: black;
  padding: 20px;
}
.login {
  padding: 20px;
}
.details{
  padding-top: 15px;
}
table{
  width:80%;
  margin:30px auto;
  border-collapse:collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}
.cartImg{
  height: 100px;
  width: 200px;
  object-fit: cover;
  border-radius: 5px;
}
thead{
  background-color: green;
  color:white;
}
th, td {
  padding:10px;
  text-align: center;
  border-bottom: 1px solid #ddd
}
tr:hover{
  background-color:#f5f5f9;
  color:black
}
.Total{
  display:flex;
  justify-content:space-evenly;
  background: white;
  width:80%;
  margin:auto;
  align-items: center;
}
.productHeading
{
  display:flex;
  justify-content:space-evenly;
  padding: 20px;
  align-items: center;
}
.addProductButton{
 background: white 1px;
 padding: 10px;
 border-radius:20px;
 border: 1px black solid;
}